<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7 bg-dark bg">
            <div class="bg-image" href="favicon.ico"></div>
        </div>
        <div class="col-sm-5 bg-light text-black ">
            <div class="row pt-5 ">
                <div class="col-md-8 col-sm-10 offset-sm-1 offset-md-2 ">
                    <h4>SpreadHub</h4>
                    <p>Plataforma de documentos colaborativa</p>

                    <div class="login ">
                        <form action=" " class="pt-3 ">
                            <input type="email " name=" " id=" " class="form-control " required placeholder="E-mail ">
                            <input type="password " name=" " id=" " class="form-control " required placeholder="Senha ">
                            <a class="nav-item nav-link pl-0 " href="login "> Esqueceu a senha?</a>
                            <button class="btn btn-primary ">Entrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>