<input (change)="fileSelected($event);" name="file" id="file" #fileInput type="file" accept="*" multiple>

<div class="row" style="padding: 10px;">
    <ng-container *ngFor="let file of allFiles">
        <div class="col-lg-3" style="cursor: pointer;" (click)="test()">
            <div class="card" style="width: 100%">
                <div>
                    <a href="{{file.filePath}}" target="_blank">PDF</a>
                </div>
                <img style="padding: 10px;" class="card-img-top" src="../../../../assets/produto dikaza.png" height="300">
                <h5 style="margin-left: 5px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;" [title]="file?.name" class="card-title">{{file?.name}}</h5>
            </div>
        </div>
    </ng-container>
</div>

<!-- <div class="row" style="padding: 10px;">
    <div class="col-lg-3">
        <div class="card" style="width: 100%; height: 300px;">
            <div>PDF</div>
            <img class="card-img-top" src="../../../../assets/produto dikaza.png" height="300">
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="../../../../assets/produto dikaza.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="../../../../assets/produto dikaza.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="../../../../assets/produto dikaza.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div> -->