<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="over"
      [opened]="opened">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/students']" (click)="closeMenu()">Documentos</a>
      <a mat-list-item [routerLink]="['/students']" (click)="closeMenu()">Alunos</a>
      <a mat-list-item [routerLink]="['/curators']" (click)="closeMenu()">Curadores</a>
      <a mat-list-item [routerLink]="['/professors']" (click)="closeMenu()">Professores</a>
      <a mat-list-item [routerLink]="['/courses']" (click)="closeMenu()">Cursos</a>
      <a mat-list-item [routerLink]="['/subjects']" (click)="closeMenu()">Disciplinas</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
